<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

	<context:annotation-config />
	<context:property-placeholder
		location="file:config/ai-agent-service.properties" />

	<!-- Redis configuration - conditionally loaded -->
	<bean id="RedisKing" class="com.medplus.redis.RedisKing"
		init-method="initRedisKing" lazy-init="true">
		<constructor-arg>
			<util:properties
				location="file:config/ai-agent-service.properties" />
		</constructor-arg>
	</bean>
	<bean id="commonPropertyHelper"
		class="com.medplus.common.helper.CommonPropertyHelper">
		<qualifier value="commonPropertyHelper" />
	</bean>

	<bean id="propertiesFactory"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>file:config/ai-agent-service.properties</value>
			</list>
		</property>
	</bean>

	<!-- active mq configuration -->
	<bean id="redeliveryPolicy"
		class="org.apache.activemq.RedeliveryPolicy">
		<property name="maximumRedeliveries" value="2" />
		<property name="initialRedeliveryDelay" value="30000" />
		<property name="redeliveryDelay" value="30000" />
		<property name="maximumRedeliveryDelay" value="120000" />
		<property name="useExponentialBackOff" value="false" />
		<property name="backOffMultiplier" value="2" />
		<property name="queue" value="*" />
	</bean>

	<bean id="jmsConnectionFactory"
		class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${active.mq.broker.url}" />
		<property name="redeliveryPolicy" ref="redeliveryPolicy" />
	</bean>

	<bean id="jmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref bean="jmsConnectionFactory" />
		</property>
		<property name="sessionTransacted" value="true" />
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
	<import resource="cache-applicationContext.xml" />

</beans>